feast
faust-streaming
kafka-python
pandas
scikit-learn
xgboost
lightgbm
mlflow
optuna
fastapi
uvicorn
evidently
apache-airflow
psycopg2-binary
redis
imbalanced-learn
prometheus-fastapi-instrumentator
numpy
matplotlib
seaborn
